<head>
	<title>
		Simple web Development Template
	</title>
</head>

<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="assets/logo.png">
			</div>
			<li><a href="#web">Web Technology</a></li>
			<li><a href="#program">Angular</a></li>
			<li><a href="#course">Courses</a></li>
		</ul>

		<div class="rightNav">
			<input type="text" name="search" id="search">
			<button class="btn btn-sm">Search</button> 
            <button class="btn btn-sm" style="color:white; margin-left: 3rem;" routerLink="/login">signup</button>
		</div>
	</nav>

	<section class="firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<h1 class="text-big" id="web">
					Web Technology
				</h1>
				
				<p class="text-small">
					HTML stands for HyperText Markup
					Language. It is used to design
					web pages using a markup language.
					HTML is the combination of Hypertext
					and Markup language. Hypertext
					defines the link between the web
					pages. A markup language is used
					to define the text document within
					tag which defines the structure of
					web pages. HTML is a markup language
					that is used by the browser to
					manipulate text, images, and other
					content to display it in the required
					format.
				</p>


			</div>
		</div>
	</section>

	<section class="secondsection">
		<div class="box-main">
			<div class="secondHalf">
				<h1 class="text-big" id="program">
					Angular
				</h1>
				<p class="text-small">
					Angular 9 was released on 6 February 2020. Version 9 moves all applications to use the Ivy compiler and runtime by default. Angular has been updated to work with TypeScript 3.6 and 3.7. In addition to hundreds of bug fixes, the Ivy compiler and runtime offers numerous advantages:
					Smaller bundle sizes
					Faster testing
					Better debugging
					Improved CSS class and style binding
					Improved type checking
					Improved build errors
					Improved build times, enabling AOT on by default
					Improved Internationalisation
					Version 10
				</p>


			</div>
		</div>
	</section>

	<section class="section">
		<div class="paras">
			<h1 class="sectionTag text-big">Javascript</h1>

			<p class="sectionSubTag text-small">
				JavaScript is the world's most popular programming language.

				JavaScript is the programming language of the Web.

				JavaScript is easy to learn.

				This tutorial will teach you JavaScript from basic to advanced.
			</p>


		</div>

		<div class="thumbnail">
			<img src="assets/logo.png" alt="laptop image">
		</div>
	</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>


	</footer>
</body>


